<a href="https://colab.research.google.com/github/yeonghun00/real-estate/blob/main/traded.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd
import requests

In [28]:
url = 'https://www.reb.or.kr/r-one/statistics/excelDownLoadAllType2.do?statCd=LHT_64040&lhtSubGbn=06&dealObj=04&category=&landSrchGbn=CNT&researchDate_s=202112&researchDate_e=202207&regionCd='
#url = 'https://www.reb.or.kr/r-one/statistics/excelDownLoadAllType2.do?statCd=LHT_64040&lhtSubGbn=06&dealObj=04&category=&landSrchGbn=CNT&researchDate=&regionCd=&excelType=all' 데이터 전부
response = requests.get(url, headers ={'User-Agent': 'python-requests/2.22.0', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive'})

In [76]:
import io
data = response.content
data = io.BytesIO(data)

In [151]:
import pandas as pd   
df = pd.read_excel(data)

지역 서울_종로구_xx 식으로

In [152]:
df.columns = df.iloc[9]
df = df[10:]
df

9,지 역,NaN,NaN,매입자거주지,2021년 12월,2022년 01월,2022년 02월,2022년 03월,2022년 04월,2022년 05월,2022년 06월,2022년 07월
10,전국,NaN,NaN,합계,101766.0,87825.0,85733.0,89915.0,104380.0,96979.0,88166.0,65921.0
11,NaN,NaN,NaN,관할시군구내,47739.0,41755.0,45126.0,43043.0,49105.0,44602.0,42941.0,32601.0
12,NaN,NaN,NaN,관할시도내,25605.0,24027.0,19147.0,22748.0,27480.0,23539.0,22868.0,16160.0
13,NaN,NaN,NaN,관할시도외_서울,8229.0,6729.0,5892.0,6135.0,8126.0,8222.0,6140.0,4123.0
14,NaN,NaN,NaN,관할시도외_기타,20193.0,15314.0,15568.0,17989.0,19669.0,20616.0,16217.0,13037.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1400,NaN,서귀포시,NaN,합계,563.0,354.0,502.0,366.0,386.0,458.0,501.0,257.0
1401,NaN,NaN,NaN,관할시군구내,263.0,170.0,339.0,173.0,178.0,200.0,243.0,121.0
1402,NaN,NaN,NaN,관할시도내,79.0,32.0,37.0,26.0,41.0,47.0,92.0,39.0
1403,NaN,NaN,NaN,관할시도외_서울,86.0,48.0,32.0,39.0,53.0,81.0,41.0,30.0
1404,NaN,NaN,NaN,관할시도외_기타,135.0,104.0,94.0,128.0,114.0,130.0,125.0,67.0

In [153]:
df = df.T.ffill().T.ffill()
df

9,지 역,NaN,NaN,매입자거주지,2021년 12월,2022년 01월,2022년 02월,2022년 03월,2022년 04월,2022년 05월,2022년 06월,2022년 07월
10,전국,전국,전국,합계,101766.0,87825.0,85733.0,89915.0,104380.0,96979.0,88166.0,65921.0
11,전국,전국,전국,관할시군구내,47739.0,41755.0,45126.0,43043.0,49105.0,44602.0,42941.0,32601.0
12,전국,전국,전국,관할시도내,25605.0,24027.0,19147.0,22748.0,27480.0,23539.0,22868.0,16160.0
13,전국,전국,전국,관할시도외_서울,8229.0,6729.0,5892.0,6135.0,8126.0,8222.0,6140.0,4123.0
14,전국,전국,전국,관할시도외_기타,20193.0,15314.0,15568.0,17989.0,19669.0,20616.0,16217.0,13037.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1400,제주,서귀포시,서귀포시,합계,563.0,354.0,502.0,366.0,386.0,458.0,501.0,257.0
1401,제주,서귀포시,서귀포시,관할시군구내,263.0,170.0,339.0,173.0,178.0,200.0,243.0,121.0
1402,제주,서귀포시,서귀포시,관할시도내,79.0,32.0,37.0,26.0,41.0,47.0,92.0,39.0
1403,제주,서귀포시,서귀포시,관할시도외_서울,86.0,48.0,32.0,39.0,53.0,81.0,41.0,30.0
1404,제주,서귀포시,서귀포시,관할시도외_기타,135.0,104.0,94.0,128.0,114.0,130.0,125.0,67.0

In [154]:
c = df.iloc[:, [0,1,2]]
c.columns = ['시도', '시군','구']
loc = ['_'.join(list(dict.fromkeys(([c.loc[x][y] for y in ['시도', '시군', '구']])))) for x in c.index]
loc[:20]

['전국',
 '전국',
 '전국',
 '전국',
 '전국',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울_종로구',
 '서울_종로구',
 '서울_종로구',
 '서울_종로구',
 '서울_종로구',
 '서울_중구',
 '서울_중구',
 '서울_중구',
 '서울_중구',
 '서울_중구']

In [155]:
df = df.iloc[: , 3:]
df.insert(loc=0, column='지역', value=loc)
df

9,지역,매입자거주지,2021년 12월,2022년 01월,2022년 02월,2022년 03월,2022년 04월,2022년 05월,2022년 06월,2022년 07월
10,전국,합계,101766.0,87825.0,85733.0,89915.0,104380.0,96979.0,88166.0,65921.0
11,전국,관할시군구내,47739.0,41755.0,45126.0,43043.0,49105.0,44602.0,42941.0,32601.0
12,전국,관할시도내,25605.0,24027.0,19147.0,22748.0,27480.0,23539.0,22868.0,16160.0
13,전국,관할시도외_서울,8229.0,6729.0,5892.0,6135.0,8126.0,8222.0,6140.0,4123.0
14,전국,관할시도외_기타,20193.0,15314.0,15568.0,17989.0,19669.0,20616.0,16217.0,13037.0
...,...,...,...,...,...,...,...,...,...,...
1400,제주_서귀포시,합계,563.0,354.0,502.0,366.0,386.0,458.0,501.0,257.0
1401,제주_서귀포시,관할시군구내,263.0,170.0,339.0,173.0,178.0,200.0,243.0,121.0
1402,제주_서귀포시,관할시도내,79.0,32.0,37.0,26.0,41.0,47.0,92.0,39.0
1403,제주_서귀포시,관할시도외_서울,86.0,48.0,32.0,39.0,53.0,81.0,41.0,30.0
1404,제주_서귀포시,관할시도외_기타,135.0,104.0,94.0,128.0,114.0,130.0,125.0,67.0

In [156]:
df['지역'] =='전국'

10       True
11       True
12       True
13       True
14       True
        ...
1400    False
1401    False
1402    False
1403    False
1404    False
Name: 지역, Length: 1395, dtype: bool